<body>
  <div class="container my-5">
    <div class="card o-hidden border-0 shadow-lg">
      <div class="card-body p-0">
        <div>
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form #form="ngForm" (submit)="register(form)">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>First Name:</label>
                  <input
                    type="text"
                    class="form-control form-control-User"
                    id="exampleFirstName"
                    [(ngModel)]="User.firstName"
                    name="UserfirstName"
                    placeholder="Nom Utilisateur"
                    [ngClass]="
                      User.firstName.length > 3 ? 'is-valid' : 'is-invalid'
                    "
                    required
                    ngModel
                  />
                </div>
                <div class="col-sm-6">
                  <label>Last Name:</label>
                  <input
                    type="text"
                    class="form-control form-control-User"
                    id="exampleLastName"
                    [(ngModel)]="User.lastName"
                    name="Username"
                    placeholder="Nom Utilisateur"
                    [ngClass]="
                      User.lastName.length > 3 ? 'is-valid' : 'is-invalid'
                    "
                    required
                    ngModel
                  />
                </div>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input
                  type="email"
                  class="form-control form-control-User"
                  id="exampleInputEmail"
                  [(ngModel)]="User.email"
                  name="email"
                  placeholder="Mail Utilisateur"
                  [ngClass]="{
                    'is-valid': rightmail,
                    'is-invalid': !rightmail
                  }"
                  (ngModelChange)="mailing(User.email)"
                  required
                  ngModel
                />
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>Password:</label>
                  <input
                    type="password"
                    class="form-control form-control-User"
                    id="exampleInputPassword"
                    [(ngModel)]="User.password"
                    name="password"
                    placeholder="Mot de passe"
                    [ngClass]="
                      User.password.length > 0 ? 'is-valid' : 'is-invalid'
                    "
                    required
                    ngModel
                  />
                </div>
                <div class="col-sm-6">
                  <label>Repeat Password:</label>
                  <input
                    type="password"
                    class="form-control form-control-User"
                    id="exampleRepeatPassword"
                    [(ngModel)]="repeatPassword"
                    name="repeatPassword"
                    placeholder="Confirmer Mot de passe"
                    [ngClass]="
                      this.User.password === repeatPassword
                        ? 'is-valid'
                        : 'is-invalid'
                    "
                    (ngModelChange)="samePass(repeatPassword)"
                    required
                    ngModel
                  />
                </div>
              </div>
              <button
                type="submit"
                [disabled]="
                  this.User.password !== repeatPassword ||
                  !this.rightmail ||
                  User.firstName.length < 4
                "
                class="btn btn-success btn-User btn-block"
                style="background-color: rgb(48, 9, 138)"
              >
                Register Account
              </button>
            </form>
            <hr />
            <div class="text-center">
              <a
                class="small"
                routerLink="/forgetpassword"
                style="font-size: 0.8em; color: rgb(48, 9, 138)"
                >Forgot Password?</a
              >
            </div>
            <div class="text-center">
              <a
                class="small"
                routerLink=""
                style="font-size: 0.8em; color: rgb(48, 9, 138)"
                >Already have an account? Login!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
