<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form style="width: 100%" *ngIf="playerData">
          <div class="row">
            <div class="col-lg-12">
              <h2>player Details</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">player Name</h3>
              <div class="input-group input-group-icon">
                <p class="form-text smaller-text">
                  {{ playerData.nom }}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">player Email</h3>
              <div class="input-group input-group-icon">
                <p class="form-text smaller-text">
                  {{ playerData.email }}
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <h3 style="margin-top: 7px">Date of Birth</h3>
                <div class="input-group">
                  <p class="form-text smaller-text">
                    {{ playerData.dateNaissance }}
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <h3 style="margin-top: 7px">player profession</h3>
                <div class="input-group">
                  <p class="form-text smaller-text">
                    {{ playerData.profession }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- end create player-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
