<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitavatarForm(avatarForm)"
          #avatarForm="ngForm"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Edit Avatar</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Avatar Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  [ngClass]="{ 'has-content': avatarData.avatarName }"
                  name="avatarName"
                  [(ngModel)]="avatarData.avatarName"
                  class="form-control custom-user-input avatar-name"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon"
                    ><i class="fas fa-user user"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">Avatar Description</h3>
              <div class="input-group input-group-icon">
                <textarea
                  class="form-control custom-user-input avatar-description"
                  [value]="avatarData.description"
                  [(ngModel)]="avatarData.description"
                  name="description"
                  rows="4"
                  required
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Avatar URL</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  [ngClass]="{ 'has-content': avatarData.url }"
                  [(ngModel)]="avatarData.url"
                  name="url"
                  class="form-control custom-link-input avatar-url"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-link-icon"
                    ><i class="fas fa-link link"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>Avatar Existing</h3>
              <div class="input-group radio-container">
                <input
                  id="existanttrue"
                  type="radio"
                  name="existant"
                  [value]="1"
                  [(ngModel)]="avatarData.existant"
                  required
                />
                <label for="existanttrue">true</label>
                <input
                  id="existantNo"
                  type="radio"
                  name="existant"
                  [value]="0"
                  [(ngModel)]="avatarData.existant"
                  required
                />
                <label for="existantNo">false</label>
              </div>
            </div>

            <div class="col-lg-6">
              <h3>Avatar Gender</h3>
              <div class="input-group radio-container">
                <input
                  id="gender-male"
                  type="radio"
                  name="M"
                  [value]="'M'"
                  [(ngModel)]="avatarData.sexe"
                  required
                />
                <label for="gender-male">Male</label>
                <input
                  id="gender-female"
                  type="radio"
                  name="F"
                  [value]="'F'"
                  [(ngModel)]="avatarData.sexe"
                  required
                />

                <label for="gender-female">Female</label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="avatarData.mail !== ''">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Email</h3>
              <div class="input-group input-group-icon">
                <input
                  type="email"
                  [(ngModel)]="avatarData.mail"
                  name="mail"
                  [ngClass]="{ 'has-content': avatarData.mail }"
                  class="mail form-control custom-email-input"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-email-icon"
                    ><i class="fas fa-envelope envelope"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                Edit
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create avatar-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
