<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitavatarForm(avatarForm)"
          #avatarForm="ngForm"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Edit Avatar</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Avatar Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="{{ avatarData.avatarName }}"
                  [(ngModel)]="avatarData.avatarName"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-user"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">Avatar Description</h3>
              <div class="input-group input-group-icon">
                <textarea
                  placeholder="{{ avatarData.avatarDescription }}"
                  [(ngModel)]="avatarData.avatarDescription"
                  rows="4"
                  required
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Avatar URL</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="{{ avatarData.avatarURL }}"
                  [(ngModel)]="avatarData.avatarURL"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>Avatar Existing</h3>
              <div class="input-group radio-container">
                <input
                  id="avatarExistingyes"
                  type="radio"
                  name="avatarExisting"
                  value="yes"
                  [(ngModel)]="avatarData.avatarExisting"
                  required
                />
                <label for="avatarExistingyes">Yes</label>
                <input
                  id="avatarExistingNo"
                  type="radio"
                  name="avatarExisting"
                  [(ngModel)]="avatarData.avatarExisting"
                  value="no"
                  required
                />
                <label for="avatarExistingNo">No</label>
              </div>
            </div>

            <div class="col-lg-6">
              <h3>Avatar Gender</h3>
              <div class="input-group radio-container">
                <input
                  id="gender-male"
                  type="radio"
                  name="avatarGender"
                  [value]="avatarData.avatarGender"
                  [(ngModel)]="avatarData.avatarGender"
                  required
                />
                <label for="gender-male">Male</label>
                <input
                  id="gender-female"
                  type="radio"
                  name="avatarGender"
                  [value]="avatarData.avatarGender"
                  [(ngModel)]="avatarData.avatarGender"
                  required
                />

                <label for="gender-female">Female</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 5%">Avatar Non Player Character</h3>
              <div class="input-group radio-container">
                <input
                  id="avatarNPCyes"
                  type="radio"
                  [value]="avatarData.avatarNPC"
                  [(ngModel)]="avatarData.avatarNPC"
                  name="avatarNPC"
                  required
                />
                <label for="avatarNPCyes">
                  <span>Yes</span>
                </label>
                <input
                  id="avatarNPCno"
                  type="radio"
                  [value]="avatarData.avatarNPC"
                  [(ngModel)]="avatarData.avatarNPC"
                  name="avatarNPC"
                  required
                />

                <label for="avatarNPCno">
                  <span>No</span>
                </label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="avatarData.avatarNPC === 'no'">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Player Email</h3>
              <div class="input-group input-group-icon">
                <input
                  type="email"
                  placeholder="{{ playerData.playerEmail }}"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="avatarData.avatarNPC === 'no'">
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">Date of Birth</h3>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ playerData.playerBirthday | date : 'dd' }}"
                  name="day"
                  required
                />
              </div>
            </div>
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">&nbsp;</h3>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ playerData.playerBirthday | date : 'MM' }}"
                  name="month"
                  required
                />
              </div>
            </div>
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">&nbsp;</h3>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ playerData.playerBirthday | date : 'yyyy' }}"
                  name="year"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row" *ngIf="avatarData.avatarNPC === 'no'">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Joke</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="{{ playerData.playerJoke }}"
                  required
                />
                <div class="input-icon">
                  <i class="bi bi-pencil-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                Edit
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create avatar-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
