<ul style="background-color: rgb(25, 22, 187)">
  <li class="nav-item active" style="padding-top: 30px; padding-left: 5%">
    <a>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span
        class="user-email"
        style="color: rgb(255, 255, 255); font-weight: bold; font-size: 0.9rem"
        >Logged in as sirinehentati2086&#64;gmail.com</span
      >
    </a>
  </li>
  <hr
    class="sidebar-divider"
    style="background-color: rgb(255, 255, 255); font-weight: bold"
  />
  <li class="nav-item" style="padding-top: 30px">
    <a href="/testgame" class="nav-link collapsed" target="_blank">
      <i class="fas fa-home"></i>
      <span style="margin-left: 8px; font-size: 1vw">Test the game</span>
    </a>
  </li>
  <hr
    class="sidebar-divider"
    style="background-color: rgb(255, 255, 255); font-weight: bold"
  />
  <li class="nav-item">
    <a href="/adminprofile" class="nav-link collapsed">
      <i class="fas fa-user"></i>
      <span style="margin-left: 8px; font-size: 1vw">Profile</span>
    </a>
  </li>
  <hr
    class="sidebar-divider"
    style="background-color: rgb(255, 255, 255); font-weight: bold"
  />
  <li class="nav-item">
    <a
      href="#"
      data-toggle="modal"
      data-target="#logoutModal"
      class="nav-link collapsed"
    >
      <i class="fas fa-sign-out-alt"></i>
      <span style="margin-left: 8px; font-size: 1vw">Logout</span>
    </a>
  </li>
  <hr
    class="sidebar-divider"
    style="background-color: rgb(255, 255, 255); font-weight: bold"
  />
  <li class="nav-item">
    <span style="margin-left: 8px; color: azure; font-size: 1vw"
      >Syrine Hentati</span
    >
  </li>
  <hr
    class="sidebar-divider"
    style="background-color: rgb(255, 255, 255); font-weight: bold"
  />
</ul>
