/* Define animation keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px); /* Change translateY to translateX */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Change translateY to translateX */
  }
}

/* Apply animation to list items */
.nav-item {
  animation: slideIn 0.5s ease forwards;
  display: flex; /* Added to make items display in a row */
  align-items: center; /* Added to vertically center items */
}

/* Reset default styles */
body {
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center; /* Added to vertically center items */
  font-size: 1rem; /* Adjusted font size */
  color: #fff;
  transition: color 0.3s;
}

ul {
  width: 220px; /* Initial width */
  height: 100%; /* Changed height to 100% of viewport height */
  background-color: rgb(51, 34, 148);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  /* Set initial width */
}

.nav-link:hover {
  color: grey;
}

.nav-link i {
  margin-right: 8px; /* Moved margin to right side */
  font-size: 1rem; /* Adjusted font size */
  transition: color 0.3s;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }
  ul {
    width: 100%; /* Changed width to 100% */
  }

  .nav-link i {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }
}
