<ul
  style="height: 600px"
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <div
    class="sidebar-brand d-flex align-items-center justify-content-center"
    style="width: 260px"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="font-size: 12px">
      logged in as sirinehentati&#64;gmail.com
    </div>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/testgame">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span style="font-size: 22px">Test the Game</span></a
    >
    <a
      href="#"
      data-toggle="modal"
      data-target="#logoutModal"
      (click)="logout()"
      style="color: rgb(241, 241, 255); font-size: 22px; margin-left: 11px"
    >
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Logout
    </a>
  </li>
</ul>
