<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->

  <app-side-bar></app-side-bar>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2 style="margin-left: 400px; color: #2f0c81; font-size: 40px">
              Create poster
            </h2>
            <form (ngSubmit)="submitposterForm()" #posterForm="ngForm">
              <div class="form-group">
                <label
                  for="posterImage"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >poster Image</label
                >
                <input
                  type="file"
                  id="posterImage"
                  name="posterImage"
                  accept="image/*"
                  onchange="previewImage(event)"
                />
                <div class="image-preview">
                  <img
                    id="imagePreview"
                    src="../../../assets/img/avatar.png"
                    alt="Image Preview"
                  />
                </div>
              </div>
              <div class="form-group">
                <label
                  for="posterName"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >Poster Name</label
                >
                <input
                  type="text"
                  id="posterName"
                  name="posterName"
                  style="font-size: 19px"
                  [(ngModel)]="posterData.posterName"
                  required
                />
              </div>
              <div class="form-group">
                <label
                  for="posterrName"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >Poster Subject</label
                >
                <input
                  type="text"
                  id="posterSubject"
                  name="posterSubject"
                  style="font-size: 19px"
                  [(ngModel)]="posterData.posterSubject"
                  required
                />
              </div>
              <div class="form-group">
                <label
                  for="posterDescription"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >poster Description</label
                >
                <textarea
                  id="posterDescription"
                  name="posterDescription"
                  style="font-size: 19px"
                  rows="4"
                  [(ngModel)]="posterData.posterDescription"
                ></textarea>
              </div>
              <div class="form-group">
                <label
                  for="posterURL"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >poster URL</label
                >
                <input
                  type="text"
                  id="posterURL"
                  name="posterURL"
                  style="font-size: 19px"
                />
              </div>

              <div class="form-group">
                <label
                  for="posterLocalisation"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >Poster Localisation</label
                >
                <select
                  id="posterLocalisation"
                  name="posterLocalisation"
                  [(ngModel)]="posterData.posterLocalisation"
                  class="form-control"
                  style="font-size: 19px"
                >
                  <option value="yes">Windows1</option>
                  <option value="no">Windows2</option>
                  <!-- Add more options here if needed -->
                </select>
              </div>

              <div class="form-group">
                <label
                  for="posterPrice"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >Poster Price</label
                >
                <input
                  type="number"
                  id="posterPrice"
                  name="posterPrice"
                  style="font-size: 19px"
                  [(ngModel)]="posterData.posterPrice"
                  required
                /><label
                  for="posterPrice"
                  style="font-size: 19px; margin-top: 20px; margin-bottom: 10px"
                  >dt</label
                >
              </div>

              <div class="form-group">
                <label
                  for="posterExisting"
                  style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
                  >poster Existing</label
                >
                <div class="radio-buttons">
                  <label class="radio-button-label">
                    <input
                      type="radio"
                      [(ngModel)]="posterData.posterExisting"
                      id="posterExistingyes"
                      name="posterExistingyes"
                      value="yes"
                    />
                    <span class="radio-button-text">Yes</span>
                  </label>
                  <label class="radio-button-label">
                    <input
                      type="radio"
                      [(ngModel)]="posterData.posterExisting"
                      id="posterExistingno"
                      name="posterExistingno"
                      value="no"
                    />
                    <span class="radio-button-text">No</span>
                  </label>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="posterForm.invalid"
                style="font-size: 23px; margin-left: 400px"
              >
                Create Poster
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- end create poster-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
