<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  >
    <div class="input-group">
      <div class="input-group-append">
        <button
          (click)="return()"
          style="
            background-color: #1d0cb3;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 21px;
            margin-top: 5px;
            margin: auto; /* This centers the button horizontally */
            cursor: pointer;
            border-radius: 8px; /* Optional: adds rounded corners */
            transition: background-color 0.3s;
          "
        >
          Return To Admin Dashboard
        </button>
      </div>
    </div>
  </form>
  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <!-- Nav Item - User Information -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span
          class="mr-2 d-none d-lg-inline text-gray-600 small"
          style="font-size: 18px"
          >syrine hentati</span
        >
        <img
          class="img-profile rounded-circle"
          src="../../assets/img/undraw_profile.svg"
        />
      </a>
      <!-- Dropdown - User Information -->
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="userDropdown"
        style="font-size: 20px; width: 120px"
      >
        <a class="dropdown-item" style="color: black" (click)="profile()">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>

        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          href="#"
          (click)="logout()"
          data-toggle="modal"
          data-target="#logoutModal"
          style="color: black"
        >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<!-- Page Heading -->

<app-logoutmodel></app-logoutmodel>
