<div
  class="card shadow mb-4"
  style="font-size: 22px; width: 1700px; margin-left: 17px"
>
  <div style="align-items: center; margin-left: 700px; margin-top: 10px">
    <button
      (click)="navigateToCreateposter()"
      style="
        background-color: #1d0cb3; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        margin-top: 5px;
        margin: auto; /* This centers the button horizontally */
        cursor: pointer;
        border-radius: 8px; /* Optional: adds rounded corners */
        transition: background-color 0.3s;
      "
    >
      Add Poster
    </button>
  </div>
  <div class="card-body" style="margin: auto">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="1400px"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Poster Title</th>
            <th>Localisation</th>
            <th>Existing</th>
            <th>Price</th>
            <th style="width: 150px">Action</th>
          </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td>{{ row.Title }}</td>
            <td>{{ row.Localisation }}</td>
            <td>{{ row.Existing }}</td>
            <td>{{ row.Price }}dt</td>
            <td class="action-icons">
              <ng-container *ngFor="let action of row.Action">
                <a
                  *ngIf="
                    action.link !== 'editposter' &&
                    action.link !== 'overviewposter'
                  "
                  (click)="handleAction(action)"
                >
                  <img
                    style="width: 40px"
                    [src]="action.icon"
                    alt="Action Icon"
                    class="action-icon"
                  />
                </a>
                <a
                  *ngIf="
                    action.link === 'editposter' ||
                    action.link === 'overviewposter'
                  "
                  [href]="action.link"
                >
                  <img
                    style="width: 40px"
                    [src]="action.icon"
                    alt="Action Icon"
                    class="action-icon"
                  />
                </a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-delete></app-delete>

<script src="../../../vendor/jquery/jquery.min.js"></script>
<script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../../datatables-demo.js"></script>
