<div
  class="card shadow mb-4"
  style="font-size: 1.2vw; width: 90%; margin: 0 auto"
>
  <div style="text-align: center; margin-top: 0.5vw">
    <button
      (click)="navigateToCreateposter()"
      style="
        background-color: #1d0cb3;
        border: none;
        color: white;
        padding: 0.8vw 2vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1vw;
        margin-top: 0.5vw;
        cursor: pointer;
        border-radius: 1vw;
        transition: background-color 0.3s;
        font-family: 'Amasis MT Pro Medium';
      "
      onmouseover="this.style.transform = 'scale(1.05)'"
      onmouseout="this.style.transform = 'scale(1)'"
    >
      Add Poster
    </button>
  </div>

  <div class="card-body d-flex justify-content-center">
    <div class="table-responsive" style="font-size: 1.2vw">
      <table class="table table-bordered table-striped" id="dataTable">
        <thead style="text-align: center">
          <tr>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 15%">
              Poster Title
            </th>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 30%">
              Subject
            </th>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 15%">
              Type
            </th>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 15%">
              Existing
            </th>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 15%">
              Price
            </th>
            <th style="font-family: 'Amasis MT Pro Medium'; width: 15%">
              Action
            </th>
          </tr>
        </thead>
        <tfoot></tfoot>
        <tbody style="text-align: center">
          <tr *ngFor="let row of tableData">
            <td>{{ row.Title }}</td>
            <td>{{ row.Subject }}</td>
            <td>{{ row.Type }}</td>
            <td>{{ row.Existing }}</td>
            <td>{{ row.Price }}dt</td>
            <td class="action-icons col-lg-3">
              <ng-container *ngFor="let action of row.Action">
                <a
                  *ngIf="
                    action.link !== 'editposter' &&
                    action.link !== 'overviewposter'
                  "
                  (click)="handleAction(action)"
                >
                  <span
                    class="action-icon"
                    [ngClass]="{
                      'text-danger':
                        action.icon === '../../../assets/img/delete.jpeg',
                      'text-primary':
                        action.icon === '../../../assets/img/view.jpg',
                      'text-warning':
                        action.icon === '../../../assets/img/edit.png'
                    }"
                  >
                    <i
                      class="bi bi-{{ action.iconClass }}"
                      (click)="handleAction(action)"
                    ></i>
                  </span>
                </a>
                <a
                  *ngIf="
                    action.link === 'editposter' ||
                    action.link === 'overviewposter'
                  "
                  [href]="action.link"
                >
                  <span
                    class="action-icon"
                    [ngClass]="{
                      'text-danger':
                        action.icon === '../../../assets/img/delete.jpeg',
                      'text-primary':
                        action.icon === '../../../assets/img/view.jpg',
                      'text-warning':
                        action.icon === '../../../assets/img/edit.png'
                    }"
                  >
                    <i
                      class="bi bi-{{ action.iconClass }}"
                      (click)="handleAction(action)"
                    ></i>
                  </span>
                </a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-delete></app-delete>

<script src="../../../vendor/jquery/jquery.min.js"></script>
<script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../../datatables-demo.js"></script>
