<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-testgameheader></app-testgameheader>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitplayerForm(playerForm)"
          #playerForm="ngForm"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Choose Avatar</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Avatar Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="Avatar Name"
                  [(ngModel)]="avatarData.avatarName"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-user"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Avatar URL</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="Avatar URL"
                  [(ngModel)]="avatarData.url"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3>Avatar Gender</h3>
              <div class="input-group radio-container">
                <input
                  id="gender-male"
                  type="radio"
                  name="gender"
                  value="male"
                  [(ngModel)]="avatarData.sexe"
                  required
                />
                <label for="gender-male">Male</label>
                <input
                  id="gender-female"
                  type="radio"
                  name="gender"
                  [(ngModel)]="avatarData.sexe"
                  value="female"
                  required
                />
                <label for="gender-female">Female</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">Date of Birth</h3>
              <div class="input-group">
                <input type="text" placeholder="DD" required />
              </div>
            </div>
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">&nbsp;</h3>
              <div class="input-group">
                <input type="text" placeholder="MM" required />
              </div>
            </div>
            <div class="col-lg-4">
              <h3 style="margin-top: 7px">&nbsp;</h3>
              <div class="input-group">
                <input type="text" placeholder="YYYY" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Joke</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="Create your own joke!"
                  required
                />
                <div class="input-icon">
                  <i class="bi bi-pencil-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                ADD
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create avatar-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
