<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitplayerForm(playerForm)"
          #playerForm="ngForm"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Edit player</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">player Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  [ngClass]="{ 'has-content': playerData.nom }"
                  name="nom"
                  [(ngModel)]="playerData.nom"
                  class="form-control custom-user-input user"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon"
                    ><i class="fas fa-user user"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">player Email</h3>
              <div class="input-group input-group-icon">
                <input
                  type="email"
                  [ngClass]="{ 'has-content': playerData.email }"
                  class="mail form-control custom-email-input"
                  [(ngModel)]="playerData.email"
                  name="email"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-email-icon"
                    ><i class="fas fa-envelope envelope"></i
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>player Profession</h3>
              <div class="select-wrapper">
                <select
                  id="profession"
                  name="profession"
                  [(ngModel)]="playerData.profession"
                  style="font-size: 19px"
                >
                  <option
                    [selected]="playerData.profession === 'Student'"
                    value="Student"
                    name="Student"
                  >
                    Student
                  </option>
                  <option
                    [selected]="playerData.profession === 'Teacher'"
                    value="Teacher"
                    name="Teacher"
                  >
                    Teacher
                  </option>
                  <option
                    [selected]="playerData.profession === 'Other'"
                    value="Other"
                    name="Other"
                  >
                    Other
                  </option>

                  <!-- Add more options here if needed -->
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <h3>Date of Birth</h3>
              <div class="row">
                <div class="input-group">
                  <input
                    type="date"
                    [placeholder]="playerData.dateNaissance"
                    name="dateNaissance"
                    [(ngModel)]="playerData.dateNaissance"
                    required
                    class="mail form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <h3 style="margin-top: 65px">Player Password</h3>
                <div class="input-group input-group-icon">
                  <input
                    type="text"
                    [ngClass]="{ 'has-content': playerData.pass }"
                    name="pass"
                    [(ngModel)]="playerData.pass"
                    class="form-control custom-key-input key"
                    required
                  />
                  <div class="input-group-append">
                    <span class="input-group-text custom-key-icon"
                      ><i class="fas fa-key key"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                Edit
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create player-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
