<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitstandForm(standForm)"
          #standForm="ngForm"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Create stand</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Stand Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="Stand Name"
                  name="nom"
                  [(ngModel)]="standData.nom"
                  class="form-control custom-user-input avatar-name"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon">
                    <i class="fas fa-file-image user"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="sujet">Stand Subject</h3>
            <textarea
              id="sujet"
              placeholder="Enter your stand subject"
              name="sujet"
              rows="2"
              [(ngModel)]="standData.sujet"
            ></textarea>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">Stand Description</h3>
              <div class="input-group input-group-icon">
                <textarea
                  [(ngModel)]="standData.description"
                  placeholder="Description"
                  rows="4"
                  name="description"
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <h3 for="standimage">Stand image</h3>
            <input
              type="file"
              id="standImage"
              name="image"
              accept="image/*"
              [(ngModel)]="standData.image"
              (change)="onImageChange($event)"
              onchange="checkImageDimensions(event, 'standDimensions'),previewImage(event)"
            />
            <span
              id="standDimensions"
              style="margin-left: 10px; font-size: 16px"
              >Preferred dimensions: 40px x 60px</span
            >
            <div class="image-preview">
              <img
                id="imagePreview"
                alt="Image Preview"
                style="max-width: 40%"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Stand URL</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  name="lien"
                  placeholder="enter your stand URL"
                  [(ngModel)]="standData.lien"
                  class="form-control custom-user-input avatar-name"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon">
                    <i class="fas fa-link user"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>Stand Existing</h3>
              <div class="input-group radio-container">
                <input
                  id="standExistingyes"
                  type="radio"
                  name="existant"
                  value="yes"
                  [(ngModel)]="standData.existant"
                  required
                />
                <label for="standExistingyes">Yes</label>
                <input
                  id="standExistingNo"
                  type="radio"
                  name="existant"
                  [(ngModel)]="standData.existant"
                  value="no"
                  required
                />
                <label for="standExistingNo">No</label>
              </div>
            </div>

            <div class="col-lg-6">
              <h3>Stand Type</h3>
              <div class="input-group radio-container">
                <input
                  id="Type1"
                  type="radio"
                  name="standType"
                  value="1"
                  [(ngModel)]="standData.standType"
                  required
                />
                <label for="Type1">Type1</label>
                <input
                  id="Type2"
                  type="radio"
                  name="standType"
                  [(ngModel)]="standData.standType"
                  value="2"
                  required
                />
                <label for="Type2">Type2</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="prix" style="margin-right: 10px">Stand Price</h3>
            <div style="display: flex; align-items: center">
              <input
                type="number"
                id="prix"
                name="prix"
                style="font-size: 19px; margin-right: 7%"
                [(ngModel)]="standData.prix"
                required
              />
              <h6 for="prix" style="font-size: 19px; margin-left: 5px">dt</h6>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                ADD
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create stand-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
