<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <!-- Sidebar Toggle (Topbar) -->

  <!-- Topbar Search -->
  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  >
    <div class="input-group">
      <div class="input-group-append">
        <h1
          class="btn-primary"
          style="background-color: white; color: black; font-size: 35px"
        >
          Admin Dasboard
        </h1>
      </div>
    </div>
  </form>
  <!-- Topbar Navbar -->

  <!-- Nav Item - User Information -->
  <!-- Nav Item - User Information -->

  <!-- Dropdown - User Information -->
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h2 class="h3 mb-0 text-gray-800" style="margin-left: 10px">Dasboard</h2>
</div>
<!-- Content Row -->
<div class="row" style="margin-left: 5px; margin-right: 18px">
  <!-- Avatars Card -->
  <div class="col-xl-3 col-md-6 mb-4 avatars-card" style="width: 200px">
    <div class="card border-left-primary shadow h-100 py-3">
      <div class="card-body py-2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a routerLink="/mainpageavatar">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                style="font-size: 18px"
              >
                Avatars
              </div>
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x avatars-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Players Card -->
  <div class="col-xl-3 col-md-6 mb-4 players-card">
    <div class="card border-left-success shadow h-100 py-3">
      <div class="card-body py-2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a routerLink="/mainpageplayer">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
                style="font-size: 18px"
              >
                Players
              </div>
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x players-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Posters Card -->
  <div class="col-xl-3 col-md-6 mb-4 posters-card" style="width: 180px">
    <div class="card border-left-info shadow h-100 py-3">
      <div class="card-body py-2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a routerLink="/mainpageposter">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
                style="font-size: 18px"
              >
                Posters
              </div>
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-image fa-2x posters-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stands Card -->
  <div class="col-xl-3 col-md-6 mb-4 stands-card">
    <div class="card border-left-warning shadow h-100 py-3">
      <div class="card-body py-2">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a routerLink="/mainpagestand">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                style="font-size: 18px"
              >
                Stands
              </div>
            </a>
            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-store-alt fa-2x stands-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../../vendor/jquery/jquery.min.js"></script>
<script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../sb-admin-2.min.js"></script>
<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../vendor/jquery/jquery.min.js"></script>
