<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form style="width: 100%" *ngIf="standData">
          <div class="row">
            <div class="col-lg-12">
              <h2>Stand Details</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Stand Name</h3>
              <div class="input-group input-group-icon">
                <p class="form-text smaller-text">
                  {{ standData.nom }}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h3>Stand Subject</h3>
              <div class="input-group input-group-icon">
                <p class="form-text smaller-text">
                  {{ standData.sujet }}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">stand Description</h3>
              <div class="input-group input-group-icon">
                <p class="form-text smaller-text">
                  {{ standData.description }}
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <h3 style="margin-top: 6px">Stand Image</h3>
                <div class="input-group input-group-icon">
                  <div class="image-preview">
                    <img
                      id="imagePreview"
                      [src]="'../../../assets/images/' + standData.image"
                      style="max-width: 40%"
                      alt="Image Preview"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <h3 style="margin-top: 7px">stand URL</h3>
                  <div class="input-group input-group-icon">
                    <p class="form-text smaller-text">
                      <a [href]="standData.lien">{{ standData.lien }}</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <h3>Stand Existing</h3>
                  <div class="input-group radio-container">
                    <p class="form-text smaller-text">
                      {{ standData.existant }}
                    </p>
                  </div>
                </div>

                <div class="col-lg-6">
                  <h3>Stand Type</h3>
                  <div class="input-group radio-container">
                    <p class="form-text smaller-text">
                      {{ standData.standType }}
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <h3 style="margin-top: 7px">Stand Price</h3>
                  <div class="input-group input-group-icon">
                    <p class="form-text smaller-text">
                      {{ standData.prix }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- end create stand-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
