/* Apply blue background to the whole page */
.body {
  background-color: blue;
  height: 100vh; /* Adjust as needed */

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Additional styles for the form container */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  height: 59%;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
.button-container {
  margin-left: 30%;
  display: flex;
  justify-content: center;
}
button {
  background-color: rgb(48, 9, 138);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
}

button:hover {
  background-color: rgb(68, 29, 158);
}
