<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitstandForm(standForm)"
          #standForm="ngForm"
          enctype="multipart/form-data"
          *ngIf="standData"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Edit stand</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">stand Title</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  name="nom"
                  [placeholder]="standData.nom"
                  [(ngModel)]="standData.nom"
                  class="form-control custom-user-input stand-name"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon">
                    <i class="fas fa-file-image user"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="sujet">stand Subject</h3>
            <textarea
              id="sujet"
              [value]="standData.sujet"
              name="sujet"
              rows="2"
              [(ngModel)]="standData.sujet"
            ></textarea>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">stand Description</h3>
              <div class="input-group input-group-icon">
                <textarea
                  [(ngModel)]="standData.description"
                  [placeholder]="standData.description"
                  rows="4"
                  name="description"
                  required
                ></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3
              for="standImage"
              style="font-size: 23px; margin-top: 20px; margin-bottom: 10px"
            >
              Preview stand image
            </h3>
            <input type="file" id="standImage" name="standImage" />
            <span
              id="standDimensions"
              style="margin-left: 10px; font-size: 16px"
              >Preferred dimensions: 40px x 60px</span
            >
            <div class="image">
              <img
                id="image"
                name="image"
                [src]="'../../../assets/images/' + standData.image"
                alt="Image"
                style="width: 300px"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">stand URL</h3>
              <div class="input-group input-group-icon">
                <input
                  name="lien"
                  type="text"
                  [placeholder]="standData.lien"
                  [(ngModel)]="standData.lien"
                  class="form-control custom-user-input stand-name"
                  required
                />
                <div class="input-group-append">
                  <span class="input-group-text custom-user-icon">
                    <i class="fas fa-link user"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>stand Existing</h3>
              <div class="input-group radio-container">
                <input
                  id="existanttrue"
                  type="radio"
                  name="existant"
                  [value]="1"
                  [(ngModel)]="standData.existant"
                  required
                />
                <label for="existanttrue">true</label>
                <input
                  id="existantNo"
                  type="radio"
                  name="existant"
                  [value]="0"
                  [(ngModel)]="standData.existant"
                  required
                />
                <label for="existantNo">false</label>
              </div>
            </div>

            <div class="col-lg-6">
              <h3>stand Type</h3>
              <div class="input-group radio-container">
                <input
                  id="type1"
                  type="radio"
                  name="standType"
                  [value]="1"
                  [(ngModel)]="standData.standType"
                  required
                />
                <label for="type1">Type1</label>
                <input
                  id="type2"
                  type="radio"
                  name="standType"
                  [value]="2"
                  [(ngModel)]="standData.standType"
                  required
                />
                <label for="type2">Type2</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="prix" style="margin-right: 10px">stand Price</h3>
            <div style="display: flex; align-items: center">
              <input
                type="number"
                id="prix"
                name="prix"
                style="font-size: 19px; margin-right: 7%"
                [placeholder]="standData.prix"
                [(ngModel)]="standData.prix"
                required
              />
              <h6 for="prix" style="font-size: 19px; margin-left: 5px">dt</h6>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                Edit
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create stand-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
