<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <app-side-bar></app-side-bar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-sidebar-menubuttons></app-sidebar-menubuttons>

      <div
        class="container form-container"
        style="background-color: white; padding: 30px; width: 50%"
      >
        <form
          style="width: 100%"
          (ngSubmit)="submitstandForm(standForm)"
          #standForm="ngForm"
        >
          <div class="row">
            <div class="col-lg-12">
              <h2>Edit stand</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 65px">Stand Name</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="{{ standData.standName }}"
                  [(ngModel)]="standData.standName"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-file-image"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group input-group-icon">
            <h3 for="standSubject">Stand Subject</h3>
            <textarea
              id="standSubject"
              placeholder="{{ standData.standSubject }}"
              name="standSubject"
              rows="2"
              [(ngModel)]="standData.standSubject"
            ></textarea>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 6px">Stand Description</h3>
              <div class="input-group input-group-icon">
                <textarea
                  [(ngModel)]="standData.standDescription"
                  placeholder="{{ standData.standDescription }}"
                  rows="4"
                  required
                ></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="standImage">Stand image</h3>
            <input
              type="file"
              id="standImage"
              name="standImage"
              accept="image/*"
              (change)="
                onImageSelected($event);
                checkImageDimensions($event, 'standDimensions');
                previewImage($event)
              "
            />

            <span
              id="standDimensions"
              style="margin-left: 10px; font-size: 16px"
              >Preferred dimensions: 40px x 60px</span
            >
            <div class="image-preview">
              <img
                id="imagePreview"
                [src]="standData.standImage"
                style="max-width: 40%"
                alt="Image Preview"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h3 style="margin-top: 7px">Stand URL</h3>
              <div class="input-group input-group-icon">
                <input
                  type="text"
                  placeholder="{{ standData.standURL }}"
                  [(ngModel)]="standData.standURL"
                  required
                />
                <div class="input-icon">
                  <i class="fas fa-link"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <h3>Stand Existing</h3>
              <div class="input-group radio-container">
                <input
                  id="standExistingyes"
                  type="radio"
                  name="standExisting"
                  [value]="'yes'"
                  [(ngModel)]="standData.standExisting"
                  required
                />
                <label for="standExistingyes">Yes</label>
                <input
                  id="standExistingNo"
                  type="radio"
                  name="standExisting"
                  [value]="'no'"
                  [(ngModel)]="standData.standExisting"
                  required
                />
                <label for="standExistingNo">No</label>
              </div>
            </div>

            <!-- Radio buttons for Stand Type -->
            <div class="col-lg-6">
              <h3>Stand Type</h3>
              <div class="input-group radio-container">
                <input
                  id="Type1"
                  type="radio"
                  name="standType"
                  [value]="'Type1'"
                  [(ngModel)]="standData.standType"
                  required
                />
                <label for="Type1">Type1</label>
                <input
                  id="Type2"
                  type="radio"
                  name="standType"
                  [value]="'Type2'"
                  [(ngModel)]="standData.standType"
                  required
                />
                <label for="Type2">Type2</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3 for="standPrice" style="margin-right: 10px">Stand Price</h3>
            <div style="display: flex; align-items: center">
              <input
                type="number"
                id="standPrice"
                name="standPrice"
                style="font-size: 19px; margin-right: 7%"
                placeholder="{{ standData.standPrice }}"
                [(ngModel)]="standData.standPrice"
                required
              />
              <h6 for="standPrice" style="font-size: 19px; margin-left: 5px">
                dt
              </h6>
            </div>
          </div>

          <div class="row" style="justify-content: center; text-align: center">
            <!-- Button in the middle bottom -->
            <div class="col-lg-12">
              <button
                type="submit"
                style="margin-top: 20px; width: 150px; height: 50px"
              >
                Edit
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- end create stand-->
      <!-- Logout Modal-->
      <app-logoutmodel></app-logoutmodel>

      <!-- Bootstrap core JavaScript-->
    </div>
  </div>
</div>
